<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/foodExecutor.js"></script>
    </head>
    <body>
        {{/* Here is our header */}}
        
        {{/* If the User session exists, (as in, we aren't passing in a 'nil' user),
        then display it here. */}}
        {{if .User.Role}}
            {{/* If the role is a User */}}
            {{if ReturnRoleUser .User "user"}}
                <p>Hey, you're logged in, {{.User.Role}}! Now you can do stuff...</p>
                {{$theID := .User.UserID}}
                {{template "foodExecutor" $theID}}
                {{template "foodSeer" $theID}}
                {{template "user-action"}}
            {{else if ReturnRoleAdmin .User "admin"}}
                <p>Hey, you're logged in {{.User.Role}}! Now you can admin stuff!</p>
                
            {{else if ReturnRoleIT .User "IT"}}
                <p>Hey, you're logged in {{.User.Role}}! Now you can do IT stuff!</p>
                
            {{else}}
                <p>Whoops! Error here! Go back!</p>
            {{end}}
        {{end}}

        {{/* Here is our footer */}}
        
    </body>
</html>