<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/foodExecutor.js"></script>
        <script src="static/js/foodSeer.js"></script>
    </head>
    <body>
        {{/* Here is our header */}}
        
        {{/* If the User session exists, (as in, we aren't passing in a 'nil' user),
        then display it here. */}}
        {{if .User.Role}}
            {{/* If the role is a User */}}
            {{if ReturnRoleUser .User "user"}}
                <p>Hey, you're logged in, {{.User.Role}}! Now you can do stuff...</p>
                {{$theID := .User.UserID}}
                {{template "foodExecutor" $theID}}
                {{template "foodSeer" $theID}}
                <div class="actionDiv">
                    <img src="static/images/jpg/hide-pain-harold.jpg"  class="actionimg" alt="harold">
                    <br><br>
                    <p class="actionInstructionText">Okay User, what data would you like to read/make?</p>
                    <br>
                    {{/* See food section...maybe update it too */}}
                    <button id="actionInstructionButton">
                        SEE MY FOOD
                    </button>
                    <div id="foodSeer">
                        <div id="foodUpdater">
                            <select name="foodChoice" id="foodChoice">
                                <option value="hotdog">hotdog</option>
                                <option value="hamburger">hamburger</option>
                            </select>
                            <input type="number" id="foodID" name="foodID" placeholder="foodNumber" minlength=1 maxlength=20>
                            <input type="text" id="foodType" name="foodType" placeholder="foodType" minlength=1 maxlength=48>
                            <input type="text" id="condimentType" name="condimentType" placeholder="condimentType" minlength=1 maxlength=48>
                            <input type="number" id="calories" name="calories" placeholder="calories" minlength=1 maxlength=8>
                            <input type="text" id="foodName" name="foodName" placeholder="foodName" minlength=1 maxlength=48>
                            <button id="food_UpdateBtn">
                                Update Food
                            </button>
                            <button id="food_deleteBtn">
                                Delete food
                            </button>
                        </div>
                        <div id="hamSeer">

                        </div>
                        <div id="hdogSeer">

                        </div>
                    </div>
                    {{/* Make food section */}}
                    <p class="actionInstructionText">MAKE FOOD</p>
                    <br>
                    <button id="actionChoice" onclick="revealFoodForm(0)">
                        MAKE HOTDOG
                    </button>
                    <br>
                    <button id="actionChoice" onclick="revealFoodForm(1)">
                        MAKE HAMBURGER
                    </button>
                    <div id="foodFormDiv">
                        
                    </div>
                    <br>  
                </div>
                {{template "user-action"}}
            {{else if ReturnRoleAdmin .User "admin"}}
                <p>Hey, you're logged in {{.User.Role}}! Now you can admin stuff!</p>
                
            {{else if ReturnRoleIT .User "IT"}}
                <p>Hey, you're logged in {{.User.Role}}! Now you can do IT stuff!</p>
                
            {{else}}
                <p>Whoops! Error here! Go back!</p>
            {{end}}
        {{end}}

        {{/* Here is our footer */}}
        
    </body>
</html>