<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/user.js"></script>
    </head>
    <body>
        {{/* Here is our header */}}
        {{template "documentation_header"}}
        {{/* Here is the body section */}}
        {{template "documentation_intro"}}
        {{template "documentation_documents_block"}}
        {{/* Here is our footer */}}
        {{template "footer_div"}}
    </body>
</html>