<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/foodExecutor.js"></script>
        <script src="static/js/user.js"></script>
    </head>
    <body>
        {{/* Here is our header */}}
        {{template "index_header"}}
        {{/* This is the main styling for our page; this can change in javascript for
        different pages */}}
        <div class="mainContentDiv" id="mainContentDiv">
            {{/* If the User session exists, (as in, we aren't passing in a 'nil' user),
            then display it here. */}}
            {{if .UserName}}
                <div class="loginStatusDiv" id="loginStatusDiv">
                    <p class="loginStatusP" id="loginStatusP">
                        Congrats! You've kept a cookie long enough to stay logged in!
                    </p>
                </div>
                {{/* Here is our form asking us to sign in! */}}
                <div class="signInAndUpDiv" id="signInAndUpDiv">
                    {{template "signup"}}
                    {{template "signin"}}
                    {{template "sign-in-form"}}
                </div>
            {{else}}
                <div class="loginStatusDiv" id="loginStatusDiv">
                    <p class="loginStatusP" id="loginStatusP">
                        Hey, make sure to sign in and make yourself a cookie!
                    </p>
                </div>
                {{/* Here is our form asking us to sign in! */}}
                <div class="signInAndUpDiv" id="signInAndUpDiv">
                    {{template "signup"}}
                    {{template "signin"}}
                    {{template "signInFormAjax"}}
                    {{template "ajaxsignup"}}
                </div>
            {{end}}
        </div>
        {{/* Here is our footer */}}
    </body>
</html>