<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
    </head>
    <body>
        {{/* Here is our header */}}
        
        {{/* If the User session exists, (as in, we aren't passing in a 'nil' user),
        then display it here. */}}
        {{if .UserName}}
            <br>
            <p>Hey, here's your info, you should be logged in. We can sign you into stuff...</p>
            {{/* Here is our form asking us to sign in! */}}
            {{template "signup"}}
            <br>
            {{template "signin"}}
            {{template "sign-in-form"}}
            <br>
        {{else}}
            <p>Good sire, it's my displeasure to inform you that you are NOT signed in.</p>
            <br>
            <p>You must either sign in below or sign up</p>
            {{template "signup"}}
            {{template "signin"}}
            {{template "sign-in-form"}}
        {{end}}
        {{/* Here is our footer */}}
    </body>
</html>