<!DOCTYPE html>
<html lang="en">
    <head>
        {{/* Here is our meta charset and title */}}
        {{template "meta-title"}}
        {{/* Here is our pixel density markup */}}
        {{template "pixel-dense"}}
        {{/* Here is our FavIcon */}}
        {{template "fav-icon1"}}
        {{/* Here are our fonts */}}
        {{template "fonts1"}}
        {{/* Here are our Media Query and stylesheets */}}
        {{template "media-queries"}}
        {{/* Here is our Javascript or additional code needed */}}
        <script src="static/js/foodExecutor.js"></script>
        <script src="static/js/foodSeer.js"></script>
        <script src="static/js/photoExecutor.js"></script>
        {{/* This section is mostly used for testing */}}
        <script src="static/js/user.js"></script>
    </head>
    <body>
        {{/* Here is our header */}}
        {{template "mainpage_header"}}
        {{/* If the User session exists, (as in, we aren't passing in a 'nil' user),
        then display it here. */}}
        {{if .Role}}
            {{$theRole := .Role}}
            {{/* Testing Request Data stuff */}}
            {{$theMessage := .Message}}
            {{$displayMessage := .MessageDisplay}}
            <p class="HiddenMessageP" id="HiddenMessageP" hidden>
                {{$theMessage}}
            </p>
            <p class="HiddenMessageP" id="HiddenMessageP2" hidden>
                {{$displayMessage}}
            </p>
            {{template "mainHeaderDisplay" $theMessage}}
            {{/* If the role is a User */}}
            {{if eq $theRole "user"}}
                <p>Hey, you're logged in, {{$theRole}}! Now you can do stuff...</p>
                {{$theID := .User.UserID}}
                {{$thePort := .Port}}
                {{template "user-action"}}
                {{template "foodExecutor" $theID}}
                {{template "portExecutor" $thePort}}
                {{template "foodSeer" $theID}}
            {{else if eq $theRole "admin"}}
                <p>Hey, you're logged in {{$theRole}}! Now you can admin stuff!</p>
                {{$theID := .User.UserID}}
                {{$thePort := .Port}}
                {{template "admin-action"}}
                {{template "foodExecutor" $theID}}
                {{template "portExecutor" $thePort}}
                {{template "foodSeer" $theID}}
            {{else if eq $theRole "IT"}}
                <p>Hey, you're logged in {{.User.Role}}! Now you can do IT stuff!</p>
                {{$theID := .User.UserID}}
                {{$thePort := .Port}}
                {{template "IT-action"}}
                {{template "foodExecutor" $theID}}
                {{template "portExecutor" $thePort}}
                {{template "foodSeer" $theID}}
            {{else}}
                <p>Whoops! Error here! Go back!</p>
            {{end}}
        {{end}}

        {{/* Here is our footer */}}
        {{template "footer_div"}}
        
    </body>
</html>