/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Usage of Google Fonts */
body, div, p, q, i, h1, h2, h3, h4, h5, h6, a, header, footer, header {
    font-family: 'Anton', sans-serif;
    font-family: 'Audiowide', cursive;
    font-family: 'Goldman', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Teko', sans-serif;
}


/* You need to initialize the parent elements to 100%
for this to work correctly in the scrollable div */
body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    font: inherit;
    vertical-align: baseline;
    /* debug */
}

header {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    width: 100%;
}

.topHeader {
    box-sizing: border-box;
    margin: 0em;
    padding: 0em;
    width: 100%;
    height: calc(100% - 80%);
}

.mainContentDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    margin: 0em;
    padding: 0em;
    height: calc(100% - 20%);
    overflow-y: auto;
    overflow-x: hidden;
    /* styling */
    background-color: rgb(148, 148, 211);
    /* debug styling */
}


/* SYTLING FOR THE FORMS */
.divformDiv {
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* styling */
    padding: 1rem;
    /* debug styling */
    
}

.signInAlignmentDiv{
    /* Flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    /* debug styling */
}

#sign-in-form {
    align-self: center;
}

.labelDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: flex-end;
    align-content: center;
    width: 40%;
    margin-right: 1em;
    /* DEBUG */
}

.labelPText {
    /* styling */
    align-self: center;
    font-size: 1rem;
    padding-right: 1rem;
    font-family: 'Goldman', cursive;
    color: rgb(0, 0, 0);
}

.inputDiv {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: flex-start;
    width: 40%;
    margin-left: 1em;
    /* Debug */
}

.fieldSection{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    /* styling */
    padding-top: 1rem;
    /* DEBUG */
}

#my-form-button{
    display: inline-block;
    text-align: center;
    align-self: center;
    /* styling */
    font-size: 1rem;
}

#inputTextMobileUN{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}


#inputTextMobilePW{
    /* font styling */
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
}

#username-err {

}

#password-err {

}

.form-field-err {
    font-size: 1rem;
}

/* Index Page Layout */
.mainTitleDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    background-color: antiquewhite;
}

.pagetitleh1{
    color: black;
    -webkit-text-fill-color: rgb(84, 183, 187);
    -webkit-text-stroke-width: .05em;
    -webkit-text-stroke-color: #000000;
    align-self: center;
    text-align: center;
    font-size: 2rem;
    font-weight: .7rem;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Audiowide', cursive, sans-serif;
}


.loginStatusDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    padding-bottom: 1em;
    width: 100%;
    /* debug */
}

.loginStatusP{
    font-family: 'Bebas Neue', cursive, sans-serif;
    font-size: 1.5rem;
    color: black;
    align-content: center;
    text-align: center;
    align-self: center;
    font-family: 'Teko', sans-serif;

}

.signInAndUpDiv{
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    padding-top: .5em;
    margin-top: .5em;
    width: 100%;
    /* debug */
}

.signup-ask-div {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    align-self: center;
    padding: 1em;
    width: 100%;
    /* debug */
}

.informtextP{
    font-size: 1rem;
    text-align: center;
    font-family: 'Teko', sans-serif;
}

.signup-ask-text {
    font-family: 'Lobster', cursive;
    color: blue;
    align-self: center;
    font-size: 3rem;
    font-weight: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: .2em .2em .2em rgb(0, 0, 0);
}

.signup-ask-text:hover{
    font-family: 'Lobster', cursive;
    color: purple;
    align-self: center;
    font-size: 3.1rem;
    font-weight: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    text-shadow: .2em .2em .2em rgb(0, 0, 0);
}

.signin-ask-div {
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    align-self: center;
    padding: 1em;
    width: 40%;
    /* debug */
}

.signin-ask-text {
    font-family: 'Lobster', cursive;
    color: blue;
    align-self: center;
    font-size: 3rem;
    font-weight: 1rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: .2em .2em .2em rgb(0, 0, 0);
}

.signin-ask-text:hover {
    font-family: 'Lobster', cursive;
    color: purple;
    align-self: center;
    font-size: 3.1rem;
    font-weight: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    text-shadow: .2em .2em .2em rgb(0, 0, 0);
}

/* MainPage Layout */
.actionDiv {
    width: 100%;
}

.actionimg {
    width: 15vw;
    height: 15vh;
}

.actionInstructionText {
    font-size: 1rem;
}

#actionInstructionButton {
    font-size: 1rem;
    width: 10vw;
    height: 10vh;
}

#actionInstructionButton2 {
    font-size: 1rem;
    width: 10vw;
    height: 10vh;
}

#actionChoice {
    width: 5vw;
    height: 5vh;
    /* styling */
    font-size: 1rem;
    margin: 2em;
    padding: 2em;
}

#foodFormDiv {
    /* flexbox- content */
    /* flexbox styling */
    display: flex;
    flex-flow: wrap;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    /* debug styling */
    
    /* styling */
    display: none;
}

#foodForm {
    
}

#submitButton {
    width: 10vw;
    height: 10vh;
    font-size: 1rem;
    /* styling */
    padding: 2em;
    margin: 2em;
}

#foodSeer{
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */

    /* debug */
    border: 1px solid green;
}

#foodUpdater {
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    /* styling */
    display: none;
    /* debug */
    border: 1px solid magenta;
}

.formitems{
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* debug */
    border: 1px dashed blue;
}

#hdogSeer {
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    /* styling */
    display: none;
    /* debug */
    border: 1px solid purple;
}

#hamSeer {
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    /* styling */
    display: none;
    /* debug */
    border: 1px solid blue;
}

#udContainerDiv {
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    /* styling */
    margin: 1em;
    padding: 1em;
    /* debug */
    border: 1px solid black;
}

#udcFieldInfoTxtDiv {
    /* Flex-box formatting */
    display: flex;
    /*flex-flow: wrap; */
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 45%;

    /* styling */
    margin: 1em;
    padding: 1em;
    /* debug */
    border: 1px solid rgb(21, 175, 202);
}

#udcFieldInfoPicDiv {
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 45%;

    /* styling */
    margin: 1em;
    padding: 1em;
    /* debug */
    border: 1px solid rgb(235, 194, 13);
}

#udfcFeildInfoPic{
    width: 15vw;
    height: 15vh;
}

#udcfText {
    /* styling */
    margin: .5em;
    padding: .5em;
    font-size: 1rem;
}

/* Header Layouts */
.headerContainerDiv{
    /* Flex-box formatting */
    box-sizing: border-box;
    width: 100%;
    height: 20%;
    /* styling */
    border: 2px solid rgb(0, 0, 0);
    background-color: antiquewhite;
}

.header_selectDiv {
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    /* styling */
    margin-top: 1em;
    /* debug */
    background-color: antiquewhite;
}

.linkDivAlignDiv {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
}

.theContactDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 45%;
    /* styling */
    padding: .5em;
    background-color: lightblue;
    border-radius: 20%;
    /* debug */
    border: 2px solid black;
}

.theContactDiv:hover{
    border: 3px solid black;
    border-radius: 20%;
}

.contactP{
    /* styling */
    margin: .5em;
    padding: .5em;
    font-size: 1rem;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.theDocumentationDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 45%;
    /* styling */
    padding: .5em;
    border-radius: 20%;
    background-color: lightgreen;
    border: 2px solid black;
    /* debug */
}

.theDocumentationDiv:hover{
    border: 3px solid black;
    border-radius: 20%;
}

.documentationP{
    /* styling */
    margin: .5em;
    padding: .5em;
    font-size: 1rem;
    text-align: center;
    font-family: 'Anton', sans-serif;
}

.header_ContactDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */
    background-color: royalblue;
    /* debug */
    border: 2px solid black;
}

.contactH1{
    /* Styling */
    font-size: 4rem;
    color: black;
}

.errordisplayer_div{
    /* Flex-box formatting */
    /*
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    */
    display: flex;
    flex-flow: wrap;
    width: 100%;
    /* styling */
    background-color: rgb(65, 32, 184);
    /* Debug styling */
}

.errorDisplayPDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 35%;
    /* styling */
    /* Debug styling */
    border: 1px dashed pink;
}

.errorDisplayImgDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: flex-end;
    justify-self: flex-end;
    width: 35%;
    /* styling */
    background-color: white;
    /* DEBUG STYLING */
}

.errImg{
    width: 3em;
    height: 3em;
}

.errImg:hover{
    width: 3.5em;
    height: 3.5em;
}

.errordisplayer_p{
    /* styling */ 
    align-self: center;
    text-align: center;
    font-size: 2rem;
    color: black;
}

/* Body Sections */
.contentDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;

    /* styling */
    background-color: darkgoldenrod;
    padding: 1em;
    /* debug */
    border: 2px solid greenyellow;
}

.informativeDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-justify: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */
    margin: .5em;
    padding: 1em;
}

.informativeP{
    align-self: center;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.meContactFormDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.meContactForm{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* debug */
    border: 2px dashed red;
}

.fieldInformDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 2em;
    margin-right: 1em;
    /*Debug */
    /* border: 2px solid black; */
}

.fieldDescribeP {
    font-size: 1rem;
    color: black;
}

.fieldValueDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    width: 40%;
    margin-bottom: 2em;
    margin-left: 1em;
    /* Debug */
    /* border: 2px solid black; */
}

.inputreg{
    font-size: 1.5rem;
    color: grey;
}

.inputTextArea{
    font-size: 1.5rem;
    color: grey;
    width: 20vw;
    height: 10vh;
}

.fieldSubmitDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    margin-top: 2em;
    /* Debug */
}

.submitB{
    font-size: 1rem;
    width: 40%;
    height: 6vh;
}

#informResultDiv{
    /* Flex-box formatting */
    display: hidden;
}

#informTxtP{
    font-size: 2rem;
    align-self: center;
}

.linkPictures{
    /* styling */
    width: 5vw;
    height: 5vh;
}

.linkA{
    font-size: 1rem;
    align-self: center;
    text-align: center;
}

/* DOCUMENTATION PAGE START */
.documentationIntroDiv{
     /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}

.greetingDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */
    padding-left: 1em;
    padding-right: 1em;
}

.spheleDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */
    padding-top: .5em;
    padding-left: .5em;
    padding-right: .5em;
}
.spheleP{
    /* font/styling */
    font-size: 1rem;
    align-self: center;
    text-align: center;
    margin-top: .5em;
    margin-bottom: .5em;
    font-family: 'Nunito', sans-serif;
}

.documentations_block_div{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* DEBUG */
    border: 1px solid black;
}

.documentation_section_div{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* STYLING */
    margin-top: .2em;
    margin-bottom: .2em;
    margin-left: .5em;
    margin-right: .5em;
}

.header_opening_div{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* DEBUG */
    border: 1px solid orange;
}

.header_opening_h2{
    /* STYLING */
    font-size: 1rem;
    color: blue;
}

.header_opening_h2:hover{
    /* STYLING */
    font-size: 1.2rem;
    color: purple;
}

.body_opening_div{
    /* Flex-box formatting */
    display: none;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* DEBUG STYLING */
    border: 1px solid brown;
}

.text_body_div{
    /* styling */
    font-size: 1rem;
    margin: .1rem;
}

.text_body_p{
    /* styling */
    font-size: 1rem;
    align-self: center;
    text-align: center;
}

.pic_body_div{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */
    margin: .1rem;
}

.pic_body_img{
    width: auto;
    height: auto;
}

.linkA{
    /* font and styling */
    font-size: 1rem;
    color: blue;
}

.linkA:hover{
    /* font and styling */
    font-size: 1rem;
    color: purple;
}
/* DOCUMENTATION PAGE END */


/* PAGE CHOICE LAYOUTS */
.buttonChoiceDivs{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */
    margin: .1rem;
    padding: .5rem;
}

.buttonChoiceDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    align-self: center;
    width: 45%;
    /* styling */
    margin: .3rem;
    padding: 1rem;
}

.buttonChoiceButton{
    width: 90%;
    height: 90%;
    padding: .3rem;
    margin: .3rem;
    font-size: 1rem;
}

/* FOOTER LAYOUTS */
.footer_ContactDiv{
    /* Flex-box formatting */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    /* styling */
    background-color: pink;
    /* debug */
    border: 2px solid black;
}